.why-choose-us-section {
    background-color: white;
    padding: 60px 0;
    font-family: Arial, sans-serif;
  }

  .sectionTitle__text{
    font-size: 18px;
    font-family: Arial, sans-serif;
  }

  .faq{
    font-family: Arial, sans-serif;

  }

  .sectionTitle__title{
    font-family: Arial, sans-serif;

  }